@page "/categoria/create"
@inject HttpClient  http
@inject NavigationManager navigation
@inject IJSRuntime js;

<h2>Nova Categoria</h2>

<CategoriaForm Categoria="@categoria" OnValidSubmit="@CriarCategoria"
               ButtonTextSubmit="Salvar" ButtonTextCancelar="Cancelar">

</CategoriaForm>

<ExibeErro ErrorMessage="@errorMessage" />

@code {

    private string errorMessage = "";
    Categoria categoria = new Categoria();

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Focus("txtCategoriaNome");
        }
    }

    public async Task Focus(string elementId)
    {
        await js.InvokeVoidAsync("focusById", elementId);
    }

    async Task CriarCategoria()
    {
        try
        {
            var result = await http.PostAsJsonAsync("api/categoria", categoria);
            navigation.NavigateTo("categoria");
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}
